<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
	<input type="text" name="model[name]" value="Enter Model Name" />
  <input type="text" name="model[password]" value="Enter Model Password" />
	<input type="submit" value="Submit" />
</form>
